:root {
    --toolbar-bgcolor: rgb(36,44,59) !important;
    --uc-menu-bkgnd: var(--toolbar-bgcolor);
    --arrowpanel-background: var(--toolbar-bgcolor) !important;
    --autocomplete-popup-background: var(--toolbar-bgcolor) !important;
    --uc-menu-disabled: rgb(90,90,90) !important;
    --lwt-toolbar-field-focus: rgb(36,44,59) !important;

    --thin-tab-width: 30px;
    --wide-tab-width: 300px;
    --inactive-tab-hide-delay: 180s;
    /* This value should be updated here and in the tree-style-tabs-theme.css */
    --tst-sidepanel-hide-delay: 0.2s;
}
